.fresa{
    color:red
}

.banana{
    color:rgba(233, 233, 17, 0.945)
}

.manzana{
    color: rgba(226, 19, 19, 0.808);
}

.uvas{
    color: rgb(150, 13, 138);
}

.mango{
    color: rgb(245, 102, 7);
}

.kiwi{
    color: rgb(140, 212, 23);
}

.ciruela{
    color: rgb(163, 11, 100);
}

.pera{
    color:rgb(17, 179, 44)
}

.cereza{
    color: rgb(230, 5, 5);
}
 .papaya{
     color: rgb(255, 136, 0);
 }